body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
}

.from-container{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    height: 90%;
    display: flex;
    align-items: center;
}

.from-container .login-container{
    width: 450px;
    margin: 0 auto;
    height: 100%;
}

.from-container .login-container > h2{
    text-align: center;
    font-size: 2.5rem;
}

.from-container .login-container >p ,
.from-container .login-container > span{
    text-align: center;
    color: #555;
}

.from-container .login-container label{
    display: block;
    font-weight: bold;
    padding: 2px 0;
}

.from-container .login-container input.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.from-container .login-container input.input:focus{
    outline: solid 2px #0099ff;
}

.from-container .login-container .options{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.from-container a{
    color: #0099ff;
    text-decoration: none;
}

.from-container a:hover{
    text-decoration: underline;
}

.from-container .login-container .providers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
}

.btn{
    border: none;
    padding: 12px 0;
    width: 100%;
    font-weight: bolder;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-login {
    background-color: yellowgreen;
    color: white;
}
.btn.btn-login:hover {
    background-color: rgb(170, 231, 48);
}

.btn.btn-google {
    background-color: rgb(211, 0, 0);
    color: white;
}
.btn.btn-google:hover {
    background-color: rgb(255, 0, 0);
}

.btn.btn-facebook {
    background-color: rgb(10, 82, 186);
    color: white;
}
.btn.btn-facebook:hover {
    background-color: rgb(10, 82, 255);

}
.btn.btn-instagram {
    background-color: rgb(255, 111, 36);
    color: white;
}
.btn.btn-instagram:hover {
    background-color: rgb(255, 153, 61);
}

.from-container .welcome-screen-container{
    background-color: black;
    height: 100%;
    width: 50%;
}

.from-container .welcome-screen-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1350px) {
    .from-container{
        width: 90%;
    }
    .from-container .login-container{
        width: 400px;
        margin: 0 auto;
    }

    .from-container .welcome-screen-container{
        width: 40%;
    }
}

@media screen and (max-width: 950px) {
    .from-container{
        width: 95%;
    }
    .from-container .login-container{
        width: 350px;
        margin: 0 auto;
    }

    .from-container .welcome-screen-container{
        display: none;
    }
}